# Supabase Configuration
# Получите эти значения в Dashboard вашего Supabase проекта:
# https://app.supabase.com/project/_/settings/api

VITE_SUPABASE_URL=https://wvmmcyjicxvoqmjjwjct.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind2bW1jeWppY3h2b3Ftamp3amN0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg5NjE5ODYsImV4cCI6MjEwNDUzNzk4Nn0.og_Cg9tbZIlq8xUXa1kvFFfQEybu_XllQbA9GJHlH50
